In [2]:
import pandas as pd

data_cars = pd.read_csv("/Users/ochoa/Proyecto7/vehicles_us.csv")

In [18]:
data_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  Int64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: Int64(1), float64(3), int64(2), object(7)
memory usage: 5.2+ MB

In [4]:
data_cars.sample(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
571,7900,2015.0,volkswagen jetta,like new,4.0,gas,82000.0,automatic,sedan,black,1.0,2019-01-17,12
39587,11888,2010.0,chevrolet silverado 1500,good,8.0,gas,0.0,automatic,truck,white,NaN,2019-03-14,24
50299,9495,NaN,honda accord,excellent,4.0,gas,94650.0,automatic,sedan,black,NaN,2019-01-02,24
8820,4450,2007.0,honda accord,excellent,4.0,gas,NaN,automatic,sedan,blue,NaN,2018-12-10,25
28899,9950,2010.0,jeep grand cherokee,excellent,6.0,gas,122498.0,automatic,SUV,silver,1.0,2019-03-04,15
26419,13900,2006.0,toyota tacoma,good,6.0,gas,NaN,automatic,truck,blue,1.0,2019-04-04,80
42755,10000,2004.0,jeep wrangler,excellent,4.0,gas,114400.0,manual,offroad,red,1.0,2019-04-06,32
13206,4800,2005.0,jeep grand cherokee,excellent,8.0,gas,136926.0,automatic,SUV,silver,1.0,2019-01-06,42
49312,13988,2008.0,jeep wrangler,good,6.0,gas,118989.0,automatic,SUV,black,NaN,2018-05-07,87
31450,6900,2015.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,white,NaN,2018-08-07,91

In [20]:
data_cars["cylinders"] = data_cars["cylinders"].astype("Int64")

In [25]:
data_cars["is_4wd"] = data_cars["is_4wd"].astype(bool)

In [26]:
data_cars.sample(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
41165,4900,2001,chevrolet silverado,fair,8,diesel,280000.0,automatic,pickup,black,True,2018-11-10,15
33224,13990,2005,toyota tundra,good,<NA>,gas,66697.0,automatic,truck,white,True,2018-08-29,27
42779,8000,2005,gmc sierra,good,8,gas,148000.0,automatic,truck,white,True,2018-05-20,29
21378,19995,2016,honda odyssey,excellent,6,gas,30472.0,automatic,van,white,True,2018-07-27,13
50482,4995,2005,honda cr-v,good,4,gas,NaN,automatic,wagon,black,True,2019-03-28,26
37186,15997,2014,toyota sienna,like new,6,gas,110239.0,automatic,mini-van,red,True,2018-07-31,14
17692,5500,1987,chevrolet corvette,fair,8,gas,157000.0,manual,convertible,black,True,2018-06-11,23
20470,10990,2016,honda civic lx,excellent,4,gas,121679.0,automatic,sedan,grey,True,2018-05-21,25
30381,11950,2013,honda accord,excellent,4,gas,86650.0,automatic,sedan,white,True,2018-11-22,39
32270,1500,2006,ford taurus,good,6,gas,NaN,automatic,sedan,green,True,2018-12-16,17

In [27]:
data_cars.to_csv("/Users/ochoa/Proyecto7/vehicles_usp.csv")

In [17]:
data_cars["model_year"] = data_cars["model_year"].astype("Int64")