In [37]:
import pandas as pd

data_cars = pd.read_csv("/Users/ochoa/Proyecto7/vehicles_usp.csv")

In [38]:
data_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  51525 non-null  int64
 1   Unnamed: 0.1  51525 non-null  int64
 2   Unnamed: 0    51525 non-null  int64
 3   price         51525 non-null  int64
 4   model_year    47906 non-null  float64
 5   model         51525 non-null  object
 6   condition     51525 non-null  object
 7   cylinders     46265 non-null  float64
 8   fuel          51525 non-null  object
 9   odometer      43633 non-null  float64
 10  transmission  51525 non-null  object
 11  type          51525 non-null  object
 12  paint_color   42258 non-null  object
 13  is_4wd        51525 non-null  bool
 14  date_posted   51525 non-null  object
 15  days_listed   51525 non-null  int64
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 5.9+ MB

In [39]:
data_cars["model_year"] = data_cars["model_year"].astype("Int64")

In [40]:
data_cars["cylinders"] = data_cars["cylinders"].astype("Int64")

In [41]:
data_cars["odometer"] = data_cars["odometer"].astype("Int64")

In [42]:
data_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  51525 non-null  int64
 1   Unnamed: 0.1  51525 non-null  int64
 2   Unnamed: 0    51525 non-null  int64
 3   price         51525 non-null  int64
 4   model_year    47906 non-null  Int64
 5   model         51525 non-null  object
 6   condition     51525 non-null  object
 7   cylinders     46265 non-null  Int64
 8   fuel          51525 non-null  object
 9   odometer      43633 non-null  Int64
 10  transmission  51525 non-null  object
 11  type          51525 non-null  object
 12  paint_color   42258 non-null  object
 13  is_4wd        51525 non-null  bool
 14  date_posted   51525 non-null  object
 15  days_listed   51525 non-null  int64
dtypes: Int64(3), bool(1), int64(5), object(7)
memory usage: 6.1+ MB

In [43]:
data_cars.sample(10)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
4070,4070,4070,4070,29777,2016,dodge charger,excellent,8,gas,78700,automatic,sedan,grey,True,2018-11-09,16
21611,21611,21611,21611,24950,2013,ford f150,excellent,<NA>,gas,102101,automatic,truck,NaN,True,2018-07-02,65
19037,19037,19037,19037,7295,2016,chevrolet cruze,excellent,4,gas,105305,automatic,sedan,NaN,True,2019-02-25,38
1037,1037,1037,1037,12500,2018,ford focus,like new,4,gas,17000,manual,sedan,grey,True,2018-12-22,67
26942,26942,26942,26942,1,2017,dodge charger,excellent,<NA>,gas,37790,automatic,sedan,red,True,2019-02-02,73
32763,32763,32763,32763,9495,2017,ford focus,good,4,gas,89474,automatic,sedan,grey,True,2018-12-31,12
19456,19456,19456,19456,4250,2010,honda civic lx,excellent,4,gas,192000,automatic,sedan,red,True,2018-11-10,112
49910,49910,49910,49910,6900,2011,kia sorento,good,4,gas,136303,automatic,wagon,grey,True,2018-08-16,61
17908,17908,17908,17908,6000,2009,chevrolet silverado 1500,good,<NA>,gas,248000,automatic,truck,white,True,2018-08-14,32
49146,49146,49146,49146,11500,<NA>,ford mustang,excellent,6,gas,95000,automatic,coupe,blue,True,2019-04-17,22

In [44]:
data_cars = data_cars.drop(columns=["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.2"])

In [45]:
data_cars.sample(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
2622,7995,2011,honda cr-v,good,4,gas,86694,automatic,SUV,silver,True,2018-05-31,19
32997,5950,2007,honda accord,excellent,4,gas,95804,other,sedan,blue,True,2018-10-08,26
24233,28400,2017,ford mustang gt coupe 2d,good,8,gas,<NA>,other,coupe,blue,True,2018-07-18,26
4933,10900,2013,ford escape,like new,4,gas,58468,automatic,SUV,green,True,2018-10-14,102
46952,11000,2011,chevrolet tahoe,good,8,gas,145546,automatic,SUV,silver,True,2018-08-17,70
28087,6500,2007,chevrolet silverado 1500,good,8,gas,190000,automatic,truck,white,True,2018-05-05,28
28022,3000,2000,ford mustang,excellent,8,gas,<NA>,manual,coupe,silver,True,2018-07-04,24
9305,6900,2008,ford escape,good,6,gas,123600,automatic,SUV,grey,True,2019-02-03,23
29136,7000,2004,toyota tundra,good,8,gas,195000,automatic,truck,grey,True,2019-01-28,27
43654,6900,2008,kia sorento,good,6,gas,87236,automatic,SUV,black,True,2018-07-03,13

In [46]:
data_cars.to_csv("/Users/ochoa/Proyecto7/vehicles_us2.csv", index=False)

In [48]:
df = pd.read_csv("/Users/ochoa/Proyecto7/vehicles_us2.csv")

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        51525 non-null  bool
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: bool(1), float64(3), int64(2), object(7)
memory usage: 4.8+ MB